@media screen and (min-width: 601px){

    .row:after{
        content: "";
        display: table;
        clear: both;
    }
    

    .text-box{
        float: left;
        width: 50%;
        
    }

    .fieldset-cont{
        float: right;
        width: 50%;
    }

    .comentarios{
        float:bottom;
        width: 90%;
    }

    .botones{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 30%;
        margin-left: 30%;
    
    }
    
}